<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weathering</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Weathering with You</h1>
        <div class="search-container">
          <form action="/search-weather" method="post">
            <input
              name="cityName"
              type="text"
              placeholder="City name.."
              name="search"
            />
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      </div>
    </header>

    <section id="weather-info">
      <% if (result) { %>
      <div class="container">
        <h2>Weather at <%- result.cityname %></h2>
        <p>
          <%= result.weather[0].main %> - <%= result.weather[0].description %>
        </p>
        <p>Temp: <%= result.main.temp %> Celcius</p>
      </div>
      <% } %>
    </section>
  </body>
</html>
